*{
    padding : 0;
    margin : 0;
    font-family: 'poppins',sans-serif;
}

:root{
    --grey-color : rgb(61, 61, 61);
    --yellow-color : #fab83e;
    --light-grey : rgb(243, 243, 243);
}

button{
    outline : none;
    border : none;
    background-color: transparent;
    transition: all ease 0.5s;
    cursor: pointer;
}

html,body{
    scroll-behavior: smooth;
}

/**Header part of the project starts here**/

header{
    position : sticky;
    top : 0;
    background-color : white;
    z-index : 1;
}

.header-top {
    padding : 0px 15px;
    display : flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom : 1px solid var(--light-grey);
}

.header-top .search-button{
    color : var(--grey-color);
}

.search-button{
    cursor: pointer;
    font-size : 15px;
    padding : 8px 0px;
}

.search-button:hover .fa{
    transform: scale(1.2);
}

.search-input{
    display : none;
    width : 100%;
    font-size : 15px;
    text-align: center;
    caret-color: var(--grey-color);
    color : var(--grey-color);
    outline : none;
    border : none;
    border-top : 1px solid var(--light-grey);
    padding : 5px 0px;
}

.toggle-able{
    display : block;
}

.nav-bar{
    padding : 5px 15px;
    display : flex;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px rgb(223, 223, 223);
}

.title-bar{
    font-size : 24px;
    text-decoration: none;
    font-weight: 600;
    color : var(--yellow-color);
}

.navbar-toggler{
    transform: scale(1.5,1);
    font-size: 1.2rem;
    cursor: pointer;
    color : var(--grey-color);
}

.navbar-toggler .fa{
    pointer-events: none;
}

.navbar-links{
    position : absolute;
    background-color : rgba(0,0,0,0.9);
    width: 100%;
    height : 100vh;
    left : 0;
    top : 0;
    z-index : 1;
    opacity : 0;
    pointer-events: none;
    transition: all ease 0.8s;
    display : flex;
    justify-content: space-between;
}

.navbar-links.displaying{
    opacity : 1;
    pointer-events: all;
}

#main-menu{
    padding : 8px 15px;
    list-style-type: none;
    background-color: rgba(0,0,0,0.7);
    height : 100%;
    width : 0%;
    transition : all ease 0.5s;
    position: relative;
}


#main-menu li{
    padding : 8px 0px;
}

#main-menu a{
    text-decoration: none;
    color : white;
    font-size : 18px;
    transition: all ease 0.5s;
}

#main-menu a:hover{
    color : var(--yellow-color);
}

#main-menu.displaying{
    width : 50%;
}

.cart{
    border : 2px solid var(--yellow-color);
    padding : 5px 10px;
    position : absolute;
    bottom : 40%;
    cursor: pointer;
    transition: all ease 0.5s;
}

.cart .fa{
    color : white;
}

.cart p{
    display : inline;
    color : white;
    font-size : 15px;
}

.cart:hover{
    background-color : var(--yellow-color)
}

.close-button {
    color: white;
    font-size : 24px;
    align-self: flex-start;
    padding : 8px 15px;
    cursor : pointer;
}

.close-button:hover{
    transform: rotate(180deg);
    color : rgb(211, 211, 211);
}

.close-button .fa{
    pointer-events: none;
}

/**Main part of the project starts here**/

/*landing page starte here*/

.landing-page{
    padding : 35px 15px 60px;
    text-align : center;
    position : relative;
}

.landing-page::after{
    content :'';
    background : url("pics/landing-image.jpeg");
    position : absolute;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    opacity: 0.1;
    pointer-events: none;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.landing-page h1{
    padding : 40px 0px 50px;
    color : var(--grey-color);
}

.landing-page a{
    font-size : 20px;
    text-decoration: none;
    color : white;
    background-color : var(--yellow-color);
    padding : 5px 15px;
}

.landing-page a:hover{
    border : 2px solid var(--yellow-color);
    background-color : white;
    color : var(--yellow-color);
}

/*About page starts here*/

.about{
    padding : 35px 15px 20px;
}

.image-wrapper img{
    width: 100%;
}

.about-texts h1,p{
    color : var(--grey-color);
}

.about-texts h1{
    font-size : 24px;
    padding : 15px 0px;
}

.about-texts p{
    font-size : 15px;
    padding : 8px 0px;
}

.about-texts span{
    color : var(--yellow-color);
    text-decoration: underline;
}

.about-texts .fa{
    padding: 0px 5px 0px 0px;
    color : var(--yellow-color);
    font-size: 17px;
}

.store{
    padding : 35px 15px 25px;
}

.store .categories-filter{
    padding : 30px 0px 10px;
    text-align: right;
}

.categories-filter label{
    color : var(--grey-color);
}

select{
    outline: none;
    border : none;
    border : 1px solid rgb(173, 173, 173);
}

.category-heading{
    font-size : 15px;
    display : none;
}

.store-item{
    border-bottom : 1px solid rgb(204, 204, 204);
    margin-top : 40px;
}

.store-item .item-spec{
    font-size : 14px;
    display : inline;
}

.see-more{
    font-size : 14px;
}

.second-text-span{
    display : none;
}

.second-text-span.show-full-text{
    display: block;
}

.store-item h4{
    padding : 10px 0px;
    color : var(--grey-color);
    font-size : 18px;
}

.store-item .image-container{
    overflow: hidden;
}

.store-item img{
    width : 100%;
    cursor: pointer;
    transition: all ease 0.8s;
}

.store-item img:hover{
    transform: scale(1.1);
}

.under-image-content{
    display: flex;
    justify-content: space-between;
    padding : 15px 8px;
    color : var(--grey-color);
}

.store-item.displaying-items{
    display : none;
}

.add-to-cart{
    border : 1px solid grey;
    padding : 5px;
    font-weight : 600;
}

.add-to-cart .fa{
    pointer-events: none;
}

.add-to-cart:hover{
    background-color : rgb(34, 34, 34);
    color : white;
    border : 1px solid rgb(34, 34, 34);
}

.add-to-cart:hover .fa{
    color : white;
    transition: all ease 0.8s;
}

.add-to-cart.added-to-cart{
    background-color : var(--yellow-color);
    color : white;
    border : 1px solid white;
}

.add-to-cart.added-to-cart .fa{
    color : white;
    font-size : 1rem;
    font-weight: 600;
}

.under-image-content p{
    padding : 5px;
    font-size : 18px;
    font-weight : bold;
}

.under-image-content i{
    font-size : 20px;
    color : var(--grey-color);
    padding : 2px 4px 0px 0px; 
}

.pagination{
    padding : 50px 0px 15px;
    text-align: center;
}

.pagination a{
    background-color : var(--light-grey);
    font-size : 17px;
    font-weight : bold;
    color : var(--grey-color);
    padding : 5px 10px;
    margin-left : 10px;
    cursor: pointer;
    transition : all ease 0.8s;
    text-decoration: none;
}

.pagination a .fa{
    pointer-events: none;
}

.pagination a:hover{
    background-color: rgb(214, 214, 214);
}

.pagination a.clicked{
    background-color: rgb(214,214,214);
}

.scroll-to-top {
    position : fixed;
    padding : 0px 10px;
    font-size: 24px;
    bottom : 5%;
    right : 3.2%;
    cursor: pointer;
    background-color: var(--yellow-color);
    color : white;
    transition: all ease 0.5s;
}

.scroll-to-top:hover{
    background-color: #c79029;
}

/**Testimonials page starts here**/

.testimonials-page{
    padding : 30px 15px 25px;
}

.testimonials{
    padding : 30px 0px 15px;
}

.testimonial{
    display: flex;
    justify-content: space-between;
    padding : 15px 10px;
    background-color: rgb(252, 252, 252);
}

.testimonial img{
    width : 80px;
    height : 80px;
    border : 2px solid var(--yellow-color);
    border-radius: 50%;
    padding : 5px;
}

.testimonial-texts{
    flex-basis: 75%;
}

.testimonial-texts h4, .testimonial-texts p{
    color : var(--grey-color);
}

.testimonial .customer-text{
    font-size : 14px;
}

.testimonial .customer-name{
    padding : 0px 0px 8px;
}

.testimonial:nth-child(even) img{
    order : 1;
}

.testimonial:nth-child(odd){
    background-color: var(--light-grey);
}

/**Contact us page starts here**/

.contact{
    padding : 35px 15px 25px;
}

.communication-channels{
    padding : 25px 0px 45px;
}

.communication-channel{
    padding: 0px 8px;
    text-align: center;
    padding : 25px 0px 0px;
}


.communication-channel h4{
    color : var(--grey-color);
    padding : 8px 0px;
}

.communication-channel p{
    font-size : 14px;
}

.communication-channel i{
    font-size : 30px;
    color : var(--yellow-color);
}

.map iframe{
    width : 100%;
    height : 300px;
}

.footer-band{
    padding : 5px 15px;
    text-align : center;
    border-top : 2px solid var(--light-grey);
}

.footer-band p{
    font-size : 13px;
}

/**Common styling**/

.page-heading{
    color : var(--grey-color);
    position: relative;
    padding : 8px 0px;
}

.page-heading::after{
    content :'';
    border : 1px solid var(--yellow-color);
    width : 7%;
    position: absolute;
    bottom : 0;
    left : 0;
}

.intro-text{
    font-size : 15px;
    padding : 15px 0px;
}